:root {
  --pcolor: #F4B223;
 
  --white: #fff;
  --black: #000;

  --blue: #0052B4;
  --red: #D80027;
  
  --grey: #1D1E1B;
  --grey2: #2A2F33;
  --grey3: #353430;
  --grey4: #2A2F33;
  --grey5: #5A5A5A;
  --grey6: #F0F0F0;
  --grey7: #bbb;
  --grey8: #707070;
}
