{% extends "base.twig" %}
{% block content %}

{% include "/templates/partial/pageHeader.twig" with {title: post.title} %}


<article class="s1_universal">
  <div class="s1_universal--editor">
    {{acf.wysiwyg}}
  </div>
</article>

{% include "/templates/partial/contactFormSection.twig" %}
{% endblock %}