.projects {
  @include colStart;

  width: 140rem;
  margin: 9.8rem auto 13.7rem;

  position: relative;

  @include mobile {
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  &::before {
    content: '';
    width: 53.3rem;
    height: 34.3rem;
  
    background-image: url('../../assets/brand-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
    position: absolute;
    bottom: -13.7rem;
    right: -24.7rem;
    z-index: 0;
  
    @include mobile {
      display: none;
    }
  }

  &__grid {
    @include grid(4, 2rem);
    grid-auto-rows: 32rem;

    width: 100%;

    @include mobile{
      grid-template-columns: 1fr;
    }
  }

  &__single {
    width: 100%;
    height: 100%;
    background-color: var(--grey2);

    position: relative;

    @include mobile {
      grid-area: unset !important;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;

      background-color: var(--pcolor);

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      transition: .2s;
      opacity: 0;
    }

    &::after {
      content: '';
      width: 8rem;
      height: 8rem;
      background-image: url('../../assets/arrow-white.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      position: absolute;
      inset: 0;
      margin: auto;

      transition: .2s;
      opacity: 0;
      z-index: 2;
    }

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      &::before {
        opacity: .8;
      }

      &::after {
        opacity: 1;
      }
    }

    

    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }

    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    &:nth-child(3) {
      grid-area: 2 / 1 / 3 / 3;
    }

    &:nth-child(4) {
      grid-area: 1 / 3 / 3 / 5;
    }

    &:nth-child(5) {
      grid-area: 3 / 1 / 4 / 3;
    }

    &:nth-child(6) {
      grid-area: 3 / 3 / 4 / 5;
    }
  }
}


.projectSection{
  padding-top: 10.5rem;
  padding-bottom: 4rem;
  margin-top: 0;
    &__wrap{
      display: flex;
      align-items: center;
      width: 160rem;
      margin: 0 auto;

      @include mobile{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
        &--title{
          width: 70%;
          margin-bottom: 2rem;
          @include mobile{
            width: 100%;
          }
        }
        .btn-1{
          flex-direction: row-reverse;
        }
    }
}