<aside class="aside">
  <div class="aside__wrap">
    {% include "/templates/partial/socialmedia.twig" %}
    <a class="aside--scrollIcon" href="#bottom"><img src="{{fn('asset', 'scroll.svg')}}" alt="scroll"></a>
  </div>
</aside>